body {
    background-image: url("4578830.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-size: 30px;
}

.navbar {
    /* height: 15vh; */
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 4px 0 rgba(230, 230, 230, 0.397);
}

#crypto-place-header {
    font-size: 40px;
}

#header-navbar-container {
    padding: 40px;
}


/* #buttons-navbar-container {
    background-color: white;
} */

#search-container {
    display: flex;
}

.navbar-button {
    margin-top: 7px;
    margin-bottom: 7px;
}

#main-container {
    margin: 40px;
}


/* #coin-card {
    min-width: 18em;
    min-height: 18em;
} */

#search-input {
    width: auto;
}

.more-info-place-holder {
    display: none;
}

#about-container {
    color: white;
    text-align: center;
}

#live-reports-container {
    color: white;
    text-align: center;
}

#more-info-div {
    display: none;
}